<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>会员中心-收获地址</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/mc.css">
</head>
<body>

    <div class="container main">
        <div class="mleft col-md-4 user-title">
                <h4 class="leftTitle f16 btn-box" data-i18n="userCont" ></h4>
        </div>
        <div class="mright col-md-8"> 

            <div class="meTitle">
                <h4 data-i18n="profile">
                    <span class="title_border"></span>
                </h4> 
                <div class="addAddress"></div> 
            </div>  

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label" data-i18n="onpPssword"></label>
                    <div class="col-sm-10">
                      <input type="t" class="form-control" id="inputEmail3" data-i18n="[placeholder]ph_onpPssword">
                    </div>
                  </div>

                   <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label" data-i18n="newPassword"></label>
                    <div class="col-sm-10">
                      <input type="t" class="form-control" id="inputEmail3" data-i18n="[placeholder]ph_newPassword">
                    </div>
                  </div>

                   <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label" data-i18n="surePassword"></label>
                    <div class="col-sm-10">
                      <input type="t" class="form-control" id="inputEmail3" data-i18n="[placeholder]ph_surePassword">
                    </div>
                  </div>
                  
                 
            </form>
            <div class="btn-box">
                <button type="submit" class="btn btn-primary btn_submit" data-i18n="btn_save"></button>
            </div>

        </div>
    </div>




</body>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/i18next/i18next.min.js"></script>
<script src="../../assets/js/i18nextXHRBackend.min.js"></script>
<script src="../../assets/js/i18next-jquery.min.js"></script>
<script>
    $(function(){

        //i18next
        i18next.use(i18nextXHRBackend).init({
            lng: 'cn', 
            ns: 'module',
            defaultNS: 'module',
            load: 'currentOnly',
            backend: {
              loadPath: "../../assets/locales/{{lng}}/{{ns}}.json"
            },
            fallbackLng: false,
            debug: false
        }, function(err, t) {
            i18nextJquery.init(i18next, $);
            $('[data-i18n]').localize();
        });

    });
</script>


</html>