<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>会员中心-账户信息</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/mc.css">
</head>
<body>

    <div class="container main">
        <div class="mleft col-md-4 user-title">
                <h4 class="leftTitle f16 btn-box" data-i18n="userCont" ></h4>
        </div>
        <div class="mright col-md-8">  
            <!-- 侧边栏 标题 start-->
            <!-- 主体right start-->
             <div class="meTitle">
                <h4>
                    <span data-i18n="account"></span>
                    <span class="title_border"></span>
                </h4> 
                <div class="addAddress"></div> 
            </div>  
            <!-- 侧边栏 标题 end-->
            <!-- 右侧表单 start-->
            <form class="form-horizontal" role="form">

                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label" data-i18n="phone"></label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputEmail3" data-i18n="[placeholder]ph_phone">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label" data-i18n="uname"></label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword3" data-i18n="[placeholder]ph_uname">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label" data-i18n="mail"></label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword3" data-i18n="[placeholder]ph_mail">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label" data-i18n="qq"></label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword3" data-i18n="[placeholder]ph_qq">
                    </div>

                  </div> 

                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label" data-i18n="register"></label>
                      <div class="radio col-sm-10">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                          个人
                         </label>
                         <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                          公司
                        </label>
                        </div>

                  </div>  

                   <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label" data-i18n="contact"></label>
                    <div class="col-sm-3">
                      <input type="password" class="form-control" id="inputPassword3" data-i18n="[placeholder]ph_area">
                    </div> 
                     <div class="col-sm-4">
                      <input type="password" class="form-control" id="inputPassword3" data-i18n="[placeholder]ph_telephone">
                    </div>
                     <div class="col-sm-3">
                      <input type="password" class="form-control" id="inputPassword3" data-i18n="[placeholder]ph_runNumber">
                    </div>
                  </div>   

                   <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label" data-i18n="major"></label>
                    <div class="col-sm-3">
                       <button class="btn btn-default btn-sm dropdown-toggle col-sm-12 changes" type="button" data-toggle="dropdown">
                            请选择 <span class="meCaret"></span>
                          </button>
                          <ul class="dropdown-menu">
                           
                          </ul>      
                    </div> 
                     <div class="col-sm-4">
                       <button class="btn btn-default btn-sm dropdown-toggle col-sm-12 changes" type="button" data-toggle="dropdown">
                            请选择 <span class="meCaret"></span>
                          </button>
                          <ul class="dropdown-menu">
                           
                          </ul>      
                    </div>
                     <div class="col-sm-3">
                       <button class="btn btn-default btn-sm dropdown-toggle col-sm-12 changes" type="button" data-toggle="dropdown">
                            请选择 <span class="meCaret"></span>
                          </button>
                          <ul class="dropdown-menu">
                           
                          </ul>      
                    </div>
                  </div>  

                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label" data-i18n="region"></label>
                    <div class="col-sm-3">
                       <button class="btn btn-default btn-sm dropdown-toggle col-sm-12" type="button" data-toggle="dropdown">
                            请选择身份 <span class="meCaret"></span>
                          </button>
                          <ul class="dropdown-menu">
                           
                          </ul>      
                    </div> 
                     <div class="col-sm-4">
                       <button class="btn btn-default btn-sm dropdown-toggle col-sm-12" type="button" data-toggle="dropdown">
                            请选择城市 <span class="meCaret"></span>
                          </button>
                          <ul class="dropdown-menu">
                           
                          </ul>      
                    </div>
                     <div class="col-sm-3 ">
                       <button class="btn btn-default btn-sm dropdown-toggle col-sm-12" type="button" data-toggle="dropdown">
                            请选择区域 <span class="meCaret"></span>
                          </button>
                          <ul class="dropdown-menu">
                           
                          </ul>      
                    </div>
                  </div>  
                   
                    <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label" data-i18n="userType"></label>
                      <div class="radio col-sm-3">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                         供应商
                         </label>
                         
                         
                        </div>
                         <div class="radio col-sm-3">
                      
                         <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                          采购商
                        </label>
                        
                        </div>
                         <div class="radio col-sm-3">
                      
                        <label>
                         <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                          两者都是
                        </label>
                        </div>
                  </div>  
                 
            </form>
            <!-- 表右侧表单 end-->
            <div class="btn-box">
                <button type="submit" class="btn btn-primary btn_submit" data-i18n="btn_submit"></button>
            </div>
            <!-- 主体right start-->
        </div>
    </div>




</body>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/i18next/i18next.min.js"></script>
<script src="../../assets/js/i18nextXHRBackend.min.js"></script>
<script src="../../assets/js/i18next-jquery.min.js"></script>
<script>
    $(function(){

        //i18next
        i18next.use(i18nextXHRBackend).init({
            lng: 'cn', 
            ns: 'module',
            defaultNS: 'module',
            load: 'currentOnly',
            backend: {
              loadPath: "../../assets/locales/{{lng}}/{{ns}}.json"
            },
            fallbackLng: false,
            debug: false
        }, function(err, t) {
            i18nextJquery.init(i18next, $);
            $('[data-i18n]').localize();
        });

    });
</script>


</html>